# <center><div class="alert alert-block alert-info">This code extracts data from a <b>SQL Database</b>, Transforms it and Load in a directory</div></center>

## The SQL Database used here the one we created during API call data collection

### Importing needed packages

In [1]:
# 
import pandas as pd
import sqlite3

### Establishing connection to the database

<div class="alert alert-block alert-warning">ALWAYS CLOSE THE CONNECTION AT THE END OF OPERATION</div>

In [2]:
# Connection variable
conn = sqlite3.connect('Air_quality.db')

In [3]:
# Query the database and read the result into pandas DataFrame
query = 'SELECT * FROM aq_index'
aq_df = pd.read_sql(sql=query, con=conn)

# Closing connection
conn.close()

In [4]:
# 
aq_df.head()

       co    no    no2     o3   so2  pm2_5  pm10   nh3  aqi        date
0  360.49  0.03  24.33  46.49  0.94   5.55  7.21  2.72    1  1698883200
1  377.18  0.04  26.39  38.62  0.86   6.19  7.90  2.94    1  1698886800
2  367.16  0.03  23.65  39.34  0.77   6.29  8.02  2.85    1  1698890400
3  337.12  0.01  18.16  45.06  0.68   5.64  7.30  2.60    1  1698894000
4  330.45  0.02  16.45  45.06  0.59   5.42  7.02  2.56    1  1698897600

### Transforming the data

From the web site where we have collected the data, the pollutant (columns) have their full name in a human readable format. We will rename the DataFrame columns name to those full name and convert the date column to a human readable format as well.

In [5]:
# Columns full names
columns_f_name = ['carbon_monoxide', 'nitrogen_monoxide', 'nitrogen_dioxide', 
                  'ozone', 'sulphur_dioxide', 'particulates2_5', 
                  'particulates10', 'ammonia', 'air_quality_index', 'date']

# Mapping the short names to their respective full name in a dictionary dtype
columns_name_dict = {short:full for short, full in zip(list(aq_df.columns), columns_f_name)}
columns_name_dict

{'co': 'carbon_monoxide',
 'no': 'nitrogen_monoxide',
 'no2': 'nitrogen_dioxide',
 'o3': 'ozone',
 'so2': 'sulphur_dioxide',
 'pm2_5': 'particulates2_5',
 'pm10': 'particulates10',
 'nh3': 'ammonia',
 'aqi': 'air_quality_index',
 'date': 'date'}

In [6]:
# Renaming the columns in Dataframe
aq_df = aq_df.rename(columns = columns_name_dict)

# Converting the date column to human readable format
aq_df['date'] = pd.to_datetime(aq_df['date'], unit='s')
aq_df.head()

,carbon_monoxide,nitrogen_monoxide,nitrogen_dioxide,ozone,sulphur_dioxide,particulates2_5,particulates10,ammonia,air_quality_index,date
0,360.49,0.03,24.33,46.49,0.94,5.55,7.21,2.72,1,2023-11-02 00:00:00
1,377.18,0.04,26.39,38.62,0.86,6.19,7.90,2.94,1,2023-11-02 01:00:00
2,367.16,0.03,23.65,39.34,0.77,6.29,8.02,2.85,1,2023-11-02 02:00:00
3,337.12,0.01,18.16,45.06,0.68,5.64,7.30,2.60,1,2023-11-02 03:00:00
4,330.45,0.02,16.45,45.06,0.59,5.42,7.02,2.56,1,2023-11-02 04:00:00

### Loading the final data

In [7]:
# Saving the data as a CSV file in the current working folder
aq_df.to_csv('aqi.csv', index=False)

<b>Notice that so far all we have done is extract the data and transform it.<br>
No cleaning is made yet as cleaning involves handling duplicate entries, outliers, inacurate, unwanted, irrelevant, and missing data. And fixing structured errors as well.<br>We will go through data cleaning in detail at the Analysis part.<b>